*{
    padding: 0;
    margin: 0;
}




/* header */

header{
    background-color: blueviolet;
    height: 5em;
}

.nav{
    display: flex;
    justify-content: space-evenly;
}

.nav a{
    margin-top: 1%;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5em;
}


/* main */

.pageAccueil img{
    height: 100vh;
    width: 212.9vh;
}

/* Page Jouer */

/* .dicegame{
    align-items: center;
} */

.player {
    display: inline-block;
    width: 200px;
    margin: 400px;
    padding: 20px;
    border: 2px solid #000;
  }
  
  button {
    margin-top: 10px;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
