@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

html {
   /* font-size: 62.5%;  */
  box-sizing: border-box; 
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  
}

/* LAYOUT */
main {
  position: relative;
  width: 60rem;
  height: 35rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  margin-top: 5rem;
  margin-left: 10rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 900px){
  main{
    width: 25rem;
    height: 80rem;
    margin-top: 7rem;
    margin-left: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* Eléments */
.name {
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 3rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 1rem;
  text-align: center;
  transition: all 0.75s;
}

@media screen and (max-width:900px){
  .current{
    width: 80%;
  }
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #ddd;
}

@media screen and (max-width:900px){
  .current-label{
    font-size: 1rem;
  }
}

.current-score {
  font-size: 2rem;
}

@media screen and (max-width:900px){
  .current-score{
    font-size: 1.5rem;
  }
}

/* Elements position Absolute */

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  font-family: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2rem;
  border-radius: 15rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2rem;
  display: inline-block;
  margin-right: 0.7rem;
}

@media screen and (max-width:900px){
  .btn::first-letter{
    font-size:1rem;
  }
}

.btn--new {
  top: 4rem;
}

@media screen and (max-width:900px)  {
  .btn--new{
    
    font-size: 0.5rem;
    width: 8rem;
    height: 3rem;
  }

  .btnnew{
    margin-top: -0.75rem;
  
  }
}

.btn--roll {
  top: 20.3rem;
}

@media screen and (max-width:900px){
  .btn--roll{
    font-size: 0.75rem;
    top: 0.5rem;
  }
}

.btn--hold {
  top: 28.1rem;
}

@media screen and (max-width:900px){
  .btn--hold{
    font-size: 0.75rem;
    top: 35rem;
  }
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 6rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:900px){
  .dice{
    top:15rem;
  }
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}


/* Barre de navigation */

.navbar{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  background-color: black;
}

.navbar a{
  color: white;
}

.navbar .logo{
  font-size: 2em;
  font-weight: bold;
}

.navbar .nav-links ul{
  display: flex;
}

.navbar .nav-links ul li{
  margin: 0 25px;
}

.navbar .nav-links ul li.active a{
  color: #ed3c57;
  font-weight: 600;
}


.navbar .menu-hamburger{
  display: none;
  position: absolute;
  width: 35px;
  top: 50px;
  right: 30px;
}




@media screen and (max-width: 900px) {
  .navbar{
      padding: 0;
  }

  .navbar .logo{
      position: absolute;
      top: 40px;
      left: 30px;
      font-size: 1em;
      z-index: 101;
  }

  .navbar .menu-hamburger{
      display: block;
      cursor: pointer;
      z-index: 101;
  }


  .nav-links {
      top: 0;
      left: 0;
      /* position: absolute; */
      background-color: rgba(255, 255, 255, 0.20);
      backdrop-filter: blur(8px);
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -100%;
      transition: all 0.5s ease;
      position: fixed;
      z-index: 100;
  }

  .nav-links.mobile-menu{
      margin-left: 0;
  }


  .nav-links ul {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .navbar .nav-links ul li{
      margin: 25px 0;
      font-size: 1.2em;
  }
  

}

footer {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
}